<!doctype html>
<html>

<head>
  <title>21 Savage Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/Projects">Home</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
            <p>
              <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                  <strong>password</strong>: <%= user.local.password %>
            </p>

            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>

        </div>
      </div>
      <div class="col-sm-6">
        <h3>folders</h3>
        <ul class="folders">
          <% for(var i=0; i<folders.length; i++) {%>
            <li class="message">
              <a href="/release/<%= folders[i]._id %>">
                <h4>
                  <%= folders[i].title %>
                </h4>
                <audio src="<%= folders[i].folder %>"></audio>
              </a>
            </li>
            <% } %>
        </ul>

        <h2>Make A Post</h2>
        <% if (user.local.email) { %>
          <form action="/makePost" enctype="multipart/form-data" method="POST">
            <input type="text" name="title" placeholder="title">
            <!-- <input type="file" id="filepicker" name="fileList" webkitdirectory multiple />
            <ul id="listing"></ul> -->


            <button type="submit">Submit</button>
          </form>
      </div>
      <% } %>
        <div class="picker"><input type="file" id="picker" name="fileList" webkitdirectory multiple></div>

        <ul id="listing"></ul>
    </div>

    <script src="main.js"></script>

</body>

</html>